.form__button {
  /* Reset default styles: */
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  /* Size: */
  height: 12.5vmin;
  max-height: 50px;
  width: 90%;
  /* Appearance: */
  font: 16px/1.2 Inter;
  transition: background .5s, color .5s, opacity .5s;
}

.form__button:focus {
  outline: none;
}

.form__button:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (min-width: 667px) {
  .form__button {
    font-size: 18px;
  }
}
