.profile__text_type_about {
  font: 14px/1.2 Inter;
}

@media screen and (min-width: 667px) {
  .profile__text_type_about {
    grid-area: about;
  }
}

@media screen and (min-width: 1000px) {
  .profile__text_type_about {
    font-size: 18px;
  }
}
